/*.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
*/
a{
    font-family: 'Courier New', monospace;
    font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    font-size: 22px;
  } 
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: cyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', monospace;
  }
  form{
    background-color: rgb(56,56,56);
    color: cyan;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    text-align: center;
}
input[type="submit"]{
    background-color:darkcyan;
    color:ghostwhite;
}

input[type="text"]{
    background-color: darkgrey;
    color:black;
    border: 4px solid cyan;
    width: 750px;
    margin:auto;
}
input[type="password"]{
    background-color: darkgrey;
    color:black;
    border: 4px solid cyan;
    width: 750px;
    margin:auto;
}
input[type="email"]{
    background-color: darkgrey;
    color:black;
    border: 4px solid cyan;
    width: 750px;
    margin:auto;
}
body{
    background-color: rgb(56,56,56);
    color: white;
    font-family: 'Courier New', monospace;
}
h1{
    color:cyan;
    font-family: 'Courier New', monospace;
    font-size: 37px;
    text-align: center;
    text-decoration: underline;
}